[submodule "services/order-service"]
	path = services/order-service
	url = https://github.com/Gammon64/vexorderplat-order-service.git
[submodule "services/payment-service"]
	path = services/payment-service
	url = https://github.com/Gammon64/vexorderplat-payment-service.git
